<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backtester</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Cosmo theme CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css">
  <style>
    body {
      padding-top: 2rem;
    }

    .container {
      max-width: 500px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4"><B>Backtester</h1>
    <form method="post" action="/result/">
      {% csrf_token %}
      <div class="form-group">
        <label for="market">Market</label>
        <select class="form-control" name="market" id="market" onchange="changeAssetOptions()">
          <option value="Cryptocurrency">Cryptocurrency</option>
          <option value="Stocks">Stocks</option>
        </select>
      </div>
      <div class="form-group">
        <label for="asset">Asset</label>
        <select class="form-control"  name="asset" id="asset">
          <option value="BTC">BTC</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cashAmount">Cash Amount</label>
        <input type="text" name="cash" class="form-control" id="cashAmount" placeholder="Default 10000">
      </div>
      <div class="form-group">
        <label for="takeProfit">Take Profit</label>
        <input type="text" name="tp"  class="form-control" id="takeProfit" placeholder="Default 10">
      </div>
      <div class="form-group">
        <label for="stopLoss">Stop Loss</label>
        <input type="text"  name="sl" class="form-control" id="stopLoss" placeholder="Default 5">
      </div>
      <div class="form-group">
        <label for="strategy">Strategy</label>
        <select class="form-control" name="strategy" id="strategy" placeholder="Default RSI">
          <option value="RSI">RSI</option>
          <option value="SMA">SMA</option>
          
        </select>
      </div>
      <button target="_blank" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Bootstrap JS (Optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    function changeAssetOptions() {
      var marketDropdown = document.getElementById("market");
      var assetDropdown = document.getElementById("asset");
      

      // Clear existing options
      assetDropdown.innerHTML = "";
      var crypto = ['BTC',
      'ETH',
      'USDT',
      'USDC',
      'BNB',
      'XRP',
      'BUSD',
      'ADA',
      'DOGE',
      'SOL',
      'MATIC',
      'OKB',
      'STETH',
      'DOT',
      'SHIB',
      'LTC',
      'AVAX',
      'TRX',
      'DAI',
      'UNI',
      'WBTC',
      'ATOM',
      'TON',
      'LINK',
      'LEO',
      'XMR',
      'ETC',
      'APT',
      'BCH',
      'XLM',
      'APE',
      'QNT',
      'NEAR',
      'LDO',
      'CRO',
      'FIL',
      'ALGO',
      'HBAR',
      'ICP',
      'VET',
      'AXS',
      'MANA',
      'AAVE',
      'EOS',
      'SAND',
      'FLOW',
      'EGLD',
      'THETA',
      'LUNC',
      'FTM',
      'FRAX',
      'XTZ',
      'TUSD',
      'USDP',
      'XEC',
      'HT',
      'BSV',
      'GRT',
      'FXS',
      'CRV',
      'RPL',
      'SNX',
      'KCS',
      'CHZ',
      'USDD',
      'BTT',
      'BIT',
      'CAKE',
      'KLAY',
      'MIOTA',
      'TWT',
      'GT',
      'MKR',
      'ZEC',
      'MINA',
      'CUSDC',
      'GUSD',
      'NEO',
      'DASH',
      'IMX',
      'CDAI',
      'OKT',
      'TKX',
      'RUNE',
      'PAXG',
      'AR',
      'OP',
      'OSMO',
      'BTSE',
      'NEXO',
      'CETH',
      'XAUT',
      'ZIL',
      'LUNA',
      'GMX',
      '1INCH',
      'ENJ',
      'XRD',
      'ETHW',
      'KAVA',
      'FLR',
      'GMT',
      'ENS',
      'LRC',
      'XDC',
      'HNT',
      'STX',
      'BAT',
      'CVX',
      'CSPR',
      'GALA',
      'HOT',
      'CELO',
      'COMP',
      'DFI',
      'RVN',
      'DCR',
      'XEM',
      'RETH',
      'WOO',
      'BONE',
      'KSM',
      'BTG',
      'DYDX',
      'LN',
      'NXM',
      'TFUEL',
      'XCH',
      'FET',
      'AUDIO',
      'IOTX',
      'CVXCRV',
      'ROSE',
      'BGB',
      'SAFEMOON',
      'AMP',
      'OHM',
      'GNO',
      'MAGIC',
      'KDA',
      'BAL',
      'QTUM',
      'GLMR',
      'RNDR',
      'CEL',
      'SUSHI',
      'NU',
      'YFI',
      'XCN',
      'ONE',
      'OMI',
      'GLM',
      'BAND',
      'AZERO',
      'WAVES',
      'ANKR',
      'ELG',
      'JST',
      'BNX',
      'EURT',
      'CHSB',
      'LUSD',
      'BABYDOGE',
      'USTC',
      'AGIX',
      'EDGT',
      'MASK',
      'LPT',
      'HBTC',
      'GFARM2',
      'OMG',
      'ICX',
      'ASTR',
      'EVMOS',
      'ZRX',
      'IOST',
      'FLUX',
      'MSOL',
      'RSR',
      'ONT',
      'BORA',
      'INJ',
      'ELON',
      'BICO',
      'DGB',
      'WEMIX',
      'POLY',
      'KUB',
      'MULTI',
      'ORB',
      'ALUSD',
      'GNS',
      'WAXP',
      'SC',
      'TEL',
      'SYN',
      'EWT',
      'SXP',
      'BDX',
      'KEEP',
      'CUSDT',
      'RBN',
      'SFM',
      'SCRT',
      'DAG',
      'OCEAN',
      'SRM',
      'SFP',
      'SKL',
      'NEST',
      'CANTO',
      'PEOPLE',
      'HIVE',
      'UMA',
      'CET',
      'BLD',
      'ZEN',
      'BRISE',
      'ULT',
      'LSK',
      'VVS',
      'EURS',
      'CKB',
      'POLYX',
      'SSV',
      'LYXE',
      'NFT',
      'KNC',
      'BTC.B',
      'COTI',
      'ILV',
      'API3',
      'PLA',
      'METIS',
      'ALI',
      'FRXETH',
      'SAITAMA',
      'RLC',
      'SLP',
      '10SET',
      'VGX',
      'CTC',
      'ANT',
      'SGB',
      'SETH2',
      'MC',
      'ECOIN',
      'ALPHA',
      'LOOKS',
      'TRIBE',
      'RON',
      'PUNDIX',
      'DAO',
      'ERG',
      'FX',
      'GTC',
      'LCX',
      'XNO',
      'DESO',
      'SYS',
      'SNT',
      'STSOL',
      'FLOKI',
      'XIDO',
      'BFC',
      'NMR',
      'CEEK',
      'KAS',
      'SAVAX',
      'CTSI',
      'JUNO',
      'USDX',
      'HUM',
      'PYR',
      'ALICE',
      'GAL',
      'DEXE',
      'PLTC',
      'COL',
      'CELR',
      'TRAC',
      'HFT',
      'MED',
      'MX',
      'BMEX',
      'WCFG',
      'DKA',
      'EVER',
      'ANKRETH',
      'XPRT',
      'CFG',
      'STG',
      'MVL',
      'MIM',
      'IQ',
      'ARDR',
      'WRX',
      'WIN',
      'ORBS',
      'CHR'
      ];
      var stocks=['BAJAJ-AUTO',
      'HINDUNILVR',
      'HINDALCO',
      'BRITANNIA',
      'MARUTI',
      'JSWSTEEL',
      'ONGC',
      'HEROMOTOCO',
      'TATASTEEL',
      'SUNPHARMA',
      'ITC',
      'NESTLEIND',
      'BHARTIARTL',
      'NTPC',
      'EICHERMOT',
      'TITAN',
      'TCS',
      'COALINDIA',
      'TATACONSUM',
      'DIVISLAB',
      'M&M',
      'HDFCLIFE',
      'KOTAKBANK',
      'BPCL',
      'INFY',
      'GRASIM',
      'TATAMOTORS',
      'BAJFINANCE',
      'POWERGRID',
      'ADANIENT',
      'UPL',
      'DRREDDY',
      'ASIANPAINT',
      'WIPRO',
      'RELIANCE',
      'BAJAJFINSV',
      'SBILIFE',
      'HCLTECH',
      'LT',
      'ICICIBANK',
      'ULTRACEMCO',
      'APOLLOHOSP',
      'TECHM',
      'AXISBANK',
      'CIPLA',
      'HDFC',
      'HDFCBANK',
      'INDUSINDBK',
      'SBIN',
      'ADANIPORTS',
      'DMART',
      'MARICO',
      'SRF',
      'INDIGO',
      'ICICIGI',
      'IOC',
      'DABUR',
      'COLPAL',
      'PGHH',
      'HAL',
      'VEDL',
      'GAIL',
      'HAVELLS',
      'CHOLAFIN',
      'BEL',
      'BANDHANBNK',
      'ICICIPRULI',
      'NAUKRI',
      'LTIM',
      'MOTHERSON',
      'MUTHOOTFIN',
      'TATAPOWER',
      'GODREJCP',
      'HDFCAMC',
      'SIEMENS',
      'LICI',
      'PAYTM',
      'GLAND',
      'PIIND',
      'BOSCHLTD',
      'TORNTPHARM',
      'PIDILITIND',
      'SHREECEM',
      'BERGEPAINT',
      'MPHASIS',
      'IRCTC',
      'ADANIGREEN',
      'BAJAJHLDNG',
      'DLF',
      'SBICARD',
      'NYKAA',
      'ATGL',
      'BIOCON',
      'BANKBARODA',
      'MCDOWELL-N',
      'AMBUJACEM',
      'ACC',
      'INDUSTOWER',
      'ZOMATO',
      'ADANITRANS',
      'MAHINDCIE',
      'HOMEFIRST',
      'SHARDACROP',
      'JBMA',
      'OLECTRA',
      'VIPIND',
      'UCOBANK',
      'RADICO',
      'GALAXYSURF',
      'KIMS',
      'CASTROLIND',
      'GODFRYPHLP',
      'LEMONTREE',
      'KEI',
      'IIFL',
      'EDELWEISS',
      'CAMPUS',
      'ZENSARTECH',
      'ECLERX',
      'SUDARSCHEM',
      'KALPATPOWR',
      'SHOPERSTOP',
      'AVANTIFEED',
      'SJVN',
      'KARURVYSYA',
      'JBCHEPHARM',
      'SUPRAJIT',
      'CARBORUNIV',
      'KPITTECH',
      'MASTEK',
      'ROSSARI',
      'JKLAKSHMI',
      'CSBBANK',
      'LAXMIMACH',
      'RVNL',
      'CHALET',
      'JYOTHYLAB',
      'ZYDUSWELL',
      'ROUTE',
      'BORORENEW',
      'TCI',
      'FINCABLES',
      'WESTLIFE',
      'CERA',
      'SUVENPHAR',
      'EIHOTEL',
      'VGUARD',
      'POLYMED',
      'APOLLOTYRE',
      'INDIGOPNTS',
      'FDC',
      'HGS',
      'SWSOLAR',
      'JAMNAAUTO',
      'AEGISCHEM',
      'GESHIP',
      'PRINCEPIPE',
      'POWERINDIA',
      'FINPIPE',
      'INOXLEISUR',
      'CESC',
      'KRBL',
      'SPARC',
      'CHEMPLASTS',
      'GMMPFAUDLR',
      'FINEORG',
      'GREENPANEL',
      'HLEGLAS',
      'ABSLAMC',
      'IFBIND',
      'CREDITACC',
      'NAZARA',
      'METROPOLIS',
      'MMTC',
      'UFLEX',
      'BIRLACORPN',
      'GRINFRA',
      'KNRCON',
      'JSL',
      'BHARATRAS',
      'KEC',
      'CEATLTD',
      'MAHABANK',
      'BASF',
      'MGL',
      'SIS',
      'LUXIND',
      'MAHLOG',
      'PGHL',
      'GSFC',
      'EIDPARRY',
      'MTARTECH',
      'VAIBHAVGBL',
      'RAYMOND',
      'RENUKA',
      'TCNSBRANDS',
      'CAPLIPOINT',
      'ORIENTELEC',
      'SAPPHIRE',
      'MAPMYINDIA',
      'HFCL',
      'NUVOCO',
      'EQUITASBNK',
      'BBTC',
      'TATACOFFEE',
      'TRITURBINE',
      'SONATSOFTW',
      'ASTRAZEN',
      'TANLA',
      'TTKPRESTIG',
      'RAINBOW',
      'REDINGTON',
      'NOCIL',
      'TEJASNET',
      'BAJAJELEC',
      'POLYPLEX',
      'HEG',
      'CAMS',
      'PNCINFRA',
      'TCIEXP',
      'HINDCOPPER',
      'QUESS',
      'TRIVENI',
      'THYROCARE',
      'EXIDEIND',
      'MCX',
      'APTUS',
      'ELGIEQUIP',
      'CANFINHOME',
      'PVR',
      'ASAHIINDIA',
      'STLTECH',
      'ITI',
      'DEEPAKFERT',
      'PRAJIND',
      'CCL',
      'CHAMBLFERT',
      'BLUESTARCO',
      'BDL',
      'NLCINDIA',
      'BRIGADE',
      'HIKAL',
      'CENTRALBK',
      'CGCL',
      'ASTERDM',
      'NH',
      'JKPAPER',
      'LATENTVIEW',
      'NETWORK18',
      'CUB',
      'WELSPUNIND',
      'VIJAYA',
      'CDSL',
      'RATNAMANI',
      'BSE',
      'PRSMJOHNSN',
      'SFL',
      'GARFIBRES',
      'PNBHOUSING',
      'GOCOLORS',
      'CENTURYPLY',
      'DCMSHRIRAM',
      'MEDPLUS',
      'MOIL',
      'AETHER',
      'METROBRAND',
      'CENTURYTEX',
      'SUZLON',
      'ENGINERSIN',
      'BEML',
      'ANGELONE',
      'NCC',
      'IDBI',
      'SHILPAMED',
      'AMBER',
      'AMARAJABAT',
      '360ONE',
      'AARTIDRUGS',
      'BALAMINES',
      'MHRIL',
      'GAEL',
      'TATAINVEST',
      'IBREALEST',
      'RALLIS',
      'BCG',
      'EPL',
      'GRAPHITE',
      'RBLBANK',
      'DBL',
      'MRPL',
      'JUSTDIAL',
      'JUBLINGREA',
      'VARROC',
      'PCBL',
      'GODREJAGRO',
      'TV18BRDCST',
      'IOB',
      'KALYANKJIL',
      'GUJALKALI',
      'FSL',
      'PRIVISCL',
      'ALOKINDS',
      'SYMPHONY',
      'TIMKEN',
      'JUBLPHARMA',
      'GPPL',
      'RITES',
      'DHANI',
      'UTIAMC',
      'WELCORP',
      'COCHINSHIP',
      'VTL',
      'MANAPPURAM',
      'CYIENT',
      'INFIBEAM',
      'MAZDOCK',
      'NBCC',
      'JMFINANCIL',
      'HUDCO',
      'IDFC',
      'RTNINDIA',
      'SOBHA',
      'SWANENERGY',
      'MAHLIFE',
      'BALRAMCHIN',
      'RCF',
      'CHOLAHLDNG',
      'IRB',
      'TEAMLEASE',
      'FACT',
      'BSOFT',
      'LXCHEM',
      'GLENMARK',
      'VMART',
      'SHYAMMETL',
      'RHIM',
      'ANURAS',
      'GNFC',
      'INDOCO',
      'RAIN',
      'RBA',
      'WOCKPHARMA',
      'INTELLECT',
      'SUNTECK',
      'INDIACEM',
      'EASEMYTRIP',
      'IBULHSGFIN',
      'MOTILALOFS',
      'DELTACORP',
      'GRANULES',
      'MAHINDCIE',
      'SONACOMS',
      'TVSMOTOR',
      'HOMEFIRST',
      'AAVAS',
      'SHARDACROP',
      'JBMA',
      'OLECTRA',
      'VIPIND',
      'MFSL',
      'UCOBANK',
      'RELAXO',
      'RADICO',
      'GALAXYSURF',
      'KIMS',
      'CASTROLIND',
      'GODFRYPHLP',
      'LEMONTREE',
      'KEI',
      'IIFL',
      'EDELWEISS',
      'CAMPUS',
      'SUNDRMFAST',
      'ZENSARTECH',
      'ECLERX',
      'SUDARSCHEM',
      'KALPATPOWR',
      'SHOPERSTOP',
      'AVANTIFEED',
      'SJVN',
      'HINDZINC',
      'KARURVYSYA',
      'ALKYLAMINE',
      'JBCHEPHARM',
      'SUPRAJIT',
      'AIAENG',
      'ENDURANCE',
      'GRINDWELL',
      'CARBORUNIV',
      'KPITTECH',
      'PERSISTENT',
      'MASTEK',
      'ROSSARI',
      'JKLAKSHMI',
      'UNOMINDA',
      'TRENT',
      'MAXHEALTH',
      'SUPREMEIND',
      'CSBBANK',
      'LAXMIMACH',
      'MSUMI',
      'AFFLE',
      'RVNL',
      'NHPC',
      'CHALET',
      'ZYDUSWELL',
      'JYOTHYLAB',
      'ROUTE',
      'ALKEM',
      'INDIANB',
      'BORORENEW',
      'TCI',
      'APLAPOLLO',
      'FINCABLES',
      'WESTLIFE',
      'CERA',
      'SUVENPHAR',
      'EIHOTEL',
      'VGUARD',
      'EMAMILTD',
      'POLYMED',
      'APOLLOTYRE',
      'KANSAINER',
      'INDIGOPNTS',
      'HGS',
      'FDC',
      'SWSOLAR',
      'POLYCAB',
      'JAMNAAUTO',
      'SUMICHEM',
      'ZFCVINDIA',
      'AEGISCHEM',
      'CLEAN',
      'GESHIP',
      'PRINCEPIPE',
      'POWERINDIA',
      'FINPIPE',
      'INOXLEISUR',
      'CESC',
      'UBL',
      'KRBL',
      'CGPOWER',
      'SPARC',
      'CHEMPLASTS',
      'GMMPFAUDLR',
      'FINEORG',
      'SANOFI',
      'PHOENIXLTD',
      'GREENPANEL',
      'HLEGLAS',
      'HINDPETRO',
      'ABSLAMC',
      '3MINDIA',
      'IFBIND',
      'CREDITACC',
      'AJANTPHARM',
      'PRESTIGE',
      'NATIONALUM',
      'NAZARA',
      'METROPOLIS',
      'UFLEX',
      'MMTC',
      'BIRLACORPN',
      'GRINFRA',
      'JSL',
      'BHARATRAS',
      'KNRCON',
      'KEC',
      'MAHABANK',
      'CEATLTD',
      'BASF',
      'MGL',
      'SIS',
      'LICHSGFIN',
      'THERMAX',
      'MAHLOG',
      'LUXIND',
      'PGHL',
      'SCHAEFFLER',
      'ISEC',
      'BALKRISIND',
      'SOLARINDS',
      'GSFC',
      'EIDPARRY',
      'BHARATFORG',
      'MTARTECH',
      'VAIBHAVGBL',
      'RAYMOND',
      'IPCALAB',
      'RENUKA',
      'TCNSBRANDS',
      'ASHOKLEY',
      'ORIENTELEC',
      'CAPLIPOINT',
      'SAPPHIRE',
      'MAPMYINDIA',
      'EQUITASBNK',
      'HFCL',
      'NUVOCO',
      'BBTC',
      'TATACOFFEE',
      'TRITURBINE',
      'VBL',
      'MRF',
      'NATCOPHARM',
      'SONATSOFTW',
      'NAM-INDIA',
      'DEVYANI',
      'ASTRAZEN',
      'GLAXO',
      'TANLA',
      'TTKPRESTIG',
      'RAINBOW',
      'TRIDENT',
      'REDINGTON',
      'SUNDARMFIN',
      'KPRMILL',
      'TEJASNET',
      'NOCIL',
      'JINDALSTEL',
      'PAGEIND',
      'SHRIRAMFIN',
      'YESBANK',
      'POLYPLEX',
      'HEG',
      'OFSS',
      'BAJAJELEC',
      'PNCINFRA',
      'CAMS',
      'TCIEXP',
      'CUMMINSIND',
      'HINDCOPPER',
      'QUESS',
      'CRISIL',
      'TRIVENI',
      'COFORGE',
      'THYROCARE',
      'APLLTD',
      'HATSUN',
      'EXIDEIND',
      'LUPIN',
      'MCX',
      'LINDEINDIA',
      'APTUS',
      'SUNTV',
      'ELGIEQUIP',
      'POONAWALLA',
      'RAJESHEXPO',
      'KAJARIACER',
      'CANFINHOME',
      'PVR',
      'ASAHIINDIA',
      'STLTECH',
      'ITI',
      'DEEPAKFERT',
      'PRAJIND',
      'CCL',
      'CHAMBLFERT',
      'INDIAMART',
      'BLUESTARCO',
      'ESCORTS',
      'BRIGADE',
      'GUJGASLTD',
      'NLCINDIA',
      'BDL',
      'HIKAL',
      'CGCL',
      'CENTRALBK',
      'ASTERDM',
      'NH',
      'JKPAPER',
      'ZEEL',
      'LATENTVIEW',
      'NETWORK18',
      'CUB',
      'TORNTPOWER',
      'IEX',
      'WELSPUNIND',
      'VIJAYA',
      'GSPL',
      'LODHA',
      'CDSL',
      'RATNAMANI',
      'PRSMJOHNSN',
      'BSE',
      'HAPPSTMNDS',
      'SFL',
      'GARFIBRES',
      'PNBHOUSING',
      'GOCOLORS',
      'MANYAVAR',
      'SAIL',
      'PFIZER',
      'OIL',
      'RAMCOCEM',
      'CENTURYPLY',
      'JUBLFOOD',
      'FORTIS',
      'VINATIORGA',
      'DCMSHRIRAM',
      'MEDPLUS',
      'MOIL',
      'AETHER',
      'L&TFH',
      'LAURUSLABS',
      'ABBOTINDIA',
      'METROBRAND',
      'JSWENERGY',
      'SUZLON',
      'CENTURYTEX',
      'ENGINERSIN',
      'ANGELONE',
      'NCC',
      'COROMANDEL',
      'BEML',
      'PETRONET',
      'IDBI',
      'SHILPAMED',
      'AMBER',
      'RECLTD',
      'AMARAJABAT',
      'OBEROIRLTY',
      'STARHEALTH',
      '360ONE',
      'IRFC',
      'AARTIDRUGS',
      'TATAELXSI',
      'BALAMINES',
      'ASTRAL',
      'SYNGENE',
      'MHRIL',
      'GAEL',
      'SKFINDIA',
      'GODREJIND',
      'TATAINVEST',
      'IBREALEST',
      'RALLIS',
      'BCG',
      'GRAPHITE',
      'EPL',
      'RBLBANK',
      'GODREJPROP',
      'DBL',
      'FEDERALBNK',
      'JUSTDIAL',
      'MRPL',
      'ABFRL',
      'JUBLINGREA',
      'TATACHEM',
      'VARROC',
      'PCBL',
      'WHIRLPOOL',
      'GODREJAGRO',
      'DALBHARAT',
      'M&MFIN',
      'TV18BRDCST',
      'DELHIVERY',
      'IOB',
      'ZYDUSLIFE',
      'KALYANKJIL',
      'GUJALKALI',
      'TTML',
      'FSL',
      'PRIVISCL',
      'GMRINFRA',
      'ALOKINDS',
      'TIMKEN',
      'ABB',
      'JUBLPHARMA',
      'SYMPHONY',
      'GPPL',
      'ATUL',
      'BLUEDART',
      'RITES',
      'DHANI',
      'UTIAMC',
      'WELCORP',
      'BHEL',
      'HONAUT',
      'COCHINSHIP',
      'VTL',
      'IGL',
      'DEEPAKNTR',
      'CYIENT',
      'MANAPPURAM',
      'INFIBEAM',
      'LALPATHLAB',
      'MAZDOCK',
      'NBCC',
      'JMFINANCIL',
      'INDHOTEL',
      'BATAINDIA',
      'HUDCO',
      'NAVINFLUOR',
      'IDFC',
      'JKCEMENT',
      'RTNINDIA',
      'VOLTAS',
      'IDFCFIRSTB',
      'SWANENERGY',
      'SOBHA',
      'MAHLIFE',
      'BALRAMCHIN',
      'RCF',
      'CHOLAHLDNG',
      'UNIONBANK',
      'IRB',
      'TIINDIA',
      'PNB',
      'TATACOMM',
      'TEAMLEASE',
      'FACT',
      'ABCAPITAL',
      'CROMPTON',
      'LTTS',
      'AUBANK',
      'POLICYBZR',
      'BSOFT',
      'FLUOROCHEM',
      'DIXON',
      'LXCHEM',
      'GLENMARK',
      'VMART',
      'SHYAMMETL',
      'BAYERCROP',
      'RHIM',
      'BANKINDIA',
      'GNFC',
      'ANURAS',
      'INDOCO',
      'RAIN',
      'RBA',
      'WOCKPHARMA',
      'INTELLECT',
      'GICRE',
      'PFC',
      'SUNTECK',
      'PATANJALI',
      'NIACL',
      'INDIACEM',
      'CANBK',
      'IDEA',
      'EASEMYTRIP',
      'AUROPHARMA',
      'IBULHSGFIN',
      'CONCOR',
      'MOTILALOFS',
      'AWL',
      'DELTACORP',
      'GRANULES'];

      // Get the selected market value
      var selectedMarket = marketDropdown.value;

      // Add options based on the selected market
      if (selectedMarket === "Cryptocurrency") { // Cryptocurrency
        crypto.forEach(function(element) {
          var option = document.createElement("option");
          option.value = element; // Set the value of the option to the lowercase version of the element
          option.textContent = element;
          assetDropdown.appendChild(option);
        });
        
      } else if (selectedMarket === "Stocks") { // Stocks
        stocks.forEach(function(element) {
          var option = document.createElement("option");
          option.value = element; // Set the value of the option to the lowercase version of the element
          option.textContent = element;
          assetDropdown.appendChild(option);
        });
      }
    }

    function checkEmptyFields() {
      // Get references to the input fields
      var cashAmountInput = document.getElementById('cashAmount');
      var takeProfitInput = document.getElementById('takeProfit');
      var stopLossInput = document.getElementById('stopLoss');
      var stopLossInput = document.getElementById('stopLoss');
      var strategy = document.getElementById('strategy');

  
      // Check if cashAmountInput is empty and set default value as 0
      if (cashAmountInput.value.trim() === '') {
        cashAmountInput.value = '10000';
      }
  
      // Check if takeProfitInput is empty and set default value as 0
      if (takeProfitInput.value.trim() === '') {
        takeProfitInput.value = '10';
      }
  
      // Check if stopLossInput is empty and set default value as 0
      if (stopLossInput.value.trim() === '') {
        stopLossInput.value = '5';
      }

      if (strategy.value.trim() === '') {
        stopLossInput.value = 'RSI';
      }
    }
  
    // Attach the checkEmptyFields function to the form submission event
    var form = document.querySelector('form');
    form.addEventListener('submit', checkEmptyFields);

    window.addEventListener('DOMContentLoaded', function() {
          var cashAmountInput = document.getElementById('cashAmount');

      // Listen for the 'input' event on the input field
      cashAmountInput.addEventListener('input', function() {
        var inputValue = cashAmountInput.value;
        
        // Remove any non-digit characters from the input value
        var sanitizedValue = inputValue.replace(/\D/g, '');
        
        // Set the sanitized value back to the input field
        cashAmountInput.value = sanitizedValue;
      });


      

      var stopLossInput = document.getElementById('stopLoss');

      // Listen for the 'input' event on the input field
      stopLossInput.addEventListener('input', function() {
        var inputValue = stopLossInput.value;
        
        // Remove any non-digit characters from the input value
        var sanitizedValue = inputValue.replace(/\D/g, '');
        
        // Convert the sanitized value to an integer, or set it to an empty string if NaN
        var intValue = parseInt(sanitizedValue, 10) || '';
        
        // Limit the integer value to the range 0 to 100
        intValue = Math.min(Math.max(intValue, 0), 100);
        
        // Set the sanitized and limited value back to the input field
        stopLossInput.value = intValue;
      });


      var tp = document.getElementById('takeProfit');

      // Listen for the 'input' event on the input field
      tp.addEventListener('input', function() {
        var inputValue = tp.value;
        
        // Remove any non-digit characters from the input value
        var sanitizedValue = inputValue.replace(/\D/g, '');
        
        // Convert the sanitized value to an integer, or set it to an empty string if NaN
        var intValue = parseInt(sanitizedValue, 10) || '';
        
        // Limit the integer value to the range 0 to 100
        intValue = Math.min(Math.max(intValue, 0), 100);
        
        // Set the sanitized and limited value back to the input field
        tp.value = intValue;
      });

      var assetDropdown = document.getElementById("asset");

     
     
      
      var crypto = ['BTC',
      'ETH',
      'USDT',
      'USDC',
      'BNB',
      'XRP',
      'BUSD',
      'ADA',
      'DOGE',
      'SOL',
      'MATIC',
      'OKB',
      'STETH',
      'DOT',
      'SHIB',
      'LTC',
      'AVAX',
      'TRX',
      'DAI',
      'UNI',
      'WBTC',
      'ATOM',
      'TON',
      'LINK',
      'LEO',
      'XMR',
      'ETC',
      'APT',
      'BCH',
      'XLM',
      'APE',
      'QNT',
      'NEAR',
      'LDO',
      'CRO',
      'FIL',
      'ALGO',
      'HBAR',
      'ICP',
      'VET',
      'AXS',
      'MANA',
      'AAVE',
      'EOS',
      'SAND',
      'FLOW',
      'EGLD',
      'THETA',
      'LUNC',
      'FTM',
      'FRAX',
      'XTZ',
      'TUSD',
      'USDP',
      'XEC',
      'HT',
      'BSV',
      'GRT',
      'FXS',
      'CRV',
      'RPL',
      'SNX',
      'KCS',
      'CHZ',
      'USDD',
      'BTT',
      'BIT',
      'CAKE',
      'KLAY',
      'MIOTA',
      'TWT',
      'GT',
      'MKR',
      'ZEC',
      'MINA',
      'CUSDC',
      'GUSD',
      'NEO',
      'DASH',
      'IMX',
      'CDAI',
      'OKT',
      'TKX',
      'RUNE',
      'PAXG',
      'AR',
      'OP',
      'OSMO',
      'BTSE',
      'NEXO',
      'CETH',
      'XAUT',
      'ZIL',
      'LUNA',
      'GMX',
      '1INCH',
      'ENJ',
      'XRD',
      'ETHW',
      'KAVA',
      'FLR',
      'GMT',
      'ENS',
      'LRC',
      'XDC',
      'HNT',
      'STX',
      'BAT',
      'CVX',
      'CSPR',
      'GALA',
      'HOT',
      'CELO',
      'COMP',
      'DFI',
      'RVN',
      'DCR',
      'XEM',
      'RETH',
      'WOO',
      'BONE',
      'KSM',
      'BTG',
      'DYDX',
      'LN',
      'NXM',
      'TFUEL',
      'XCH',
      'FET',
      'AUDIO',
      'IOTX',
      'CVXCRV',
      'ROSE',
      'BGB',
      'SAFEMOON',
      'AMP',
      'OHM',
      'GNO',
      'MAGIC',
      'KDA',
      'BAL',
      'QTUM',
      'GLMR',
      'RNDR',
      'CEL',
      'SUSHI',
      'NU',
      'YFI',
      'XCN',
      'ONE',
      'OMI',
      'GLM',
      'BAND',
      'AZERO',
      'WAVES',
      'ANKR',
      'ELG',
      'JST',
      'BNX',
      'EURT',
      'CHSB',
      'LUSD',
      'BABYDOGE',
      'USTC',
      'AGIX',
      'EDGT',
      'MASK',
      'LPT',
      'HBTC',
      'GFARM2',
      'OMG',
      'ICX',
      'ASTR',
      'EVMOS',
      'ZRX',
      'IOST',
      'FLUX',
      'MSOL',
      'RSR',
      'ONT',
      'BORA',
      'INJ',
      'ELON',
      'BICO',
      'DGB',
      'WEMIX',
      'POLY',
      'KUB',
      'MULTI',
      'ORB',
      'ALUSD',
      'GNS',
      'WAXP',
      'SC',
      'TEL',
      'SYN',
      'EWT',
      'SXP',
      'BDX',
      'KEEP',
      'CUSDT',
      'RBN',
      'SFM',
      'SCRT',
      'DAG',
      'OCEAN',
      'SRM',
      'SFP',
      'SKL',
      'NEST',
      'CANTO',
      'PEOPLE',
      'HIVE',
      'UMA',
      'CET',
      'BLD',
      'ZEN',
      'BRISE',
      'ULT',
      'LSK',
      'VVS',
      'EURS',
      'CKB',
      'POLYX',
      'SSV',
      'LYXE',
      'NFT',
      'KNC',
      'BTC.B',
      'COTI',
      'ILV',
      'API3',
      'PLA',
      'METIS',
      'ALI',
      'FRXETH',
      'SAITAMA',
      'RLC',
      'SLP',
      '10SET',
      'VGX',
      'CTC',
      'ANT',
      'SGB',
      'SETH2',
      'MC',
      'ECOIN',
      'ALPHA',
      'LOOKS',
      'TRIBE',
      'RON',
      'PUNDIX',
      'DAO',
      'ERG',
      'FX',
      'GTC',
      'LCX',
      'XNO',
      'DESO',
      'SYS',
      'SNT',
      'STSOL',
      'FLOKI',
      'XIDO',
      'BFC',
      'NMR',
      'CEEK',
      'KAS',
      'SAVAX',
      'CTSI',
      'JUNO',
      'USDX',
      'HUM',
      'PYR',
      'ALICE',
      'GAL',
      'DEXE',
      'PLTC',
      'COL',
      'CELR',
      'TRAC',
      'HFT',
      'MED',
      'MX',
      'BMEX',
      'WCFG',
      'DKA',
      'EVER',
      'ANKRETH',
      'XPRT',
      'CFG',
      'STG',
      'MVL',
      'MIM',
      'IQ',
      'ARDR',
      'WRX',
      'WIN',
      'ORBS',
      'CHR'
      ];

      crypto.forEach(function(element) {
        var option = document.createElement("option");
        option.value = element; // Set the value of the option to the lowercase version of the element
        option.textContent = element;
        assetDropdown.appendChild(option);
      });
    });

    

    
  </script>
</body>
</html>
